.body{
    overflow-y: auto;
}
/* LandingPage.css */
.curved-card {
    background: #ffffff;
    height: max-content;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2em;
    margin-bottom: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 77vh;
    /* display: flex;
    flex-direction: column; */
  }
  
  .dropdown {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    .picture {
      width: 75vw;
    }
  }
  @media (min-width: 601px) and (max-width: 992px) {
    .picture {
      width: 40vw;
    }
  }
  @media (min-width: 993px) {
    .picture {
      width: 25vw;
    }
  }
  
  /* Add more styling as needed */